.container {
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 350px;

}


p {
    font-size: large;
}

.content {
    background-color: #ffe0b2;
    padding: 10px;
    border: 10px solid #85bdbf;
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 55%;
    border: 3px black solid;
    border-radius: 15px;
}

.library {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    background: url('../components/resources/library.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}



