.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-label {
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-form {
    margin-top: 25px;
    background-color: #fff;
    border: 5px solid #85bdbf;
    border-radius: 15px;
    padding: 20px;
}

.submit {
    float: right;
    background-color: #ffb74d;
    color: '#000';
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    
}

.submit:hover {
   
    background-color: #ffb74d;
}